<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>


        <form action="/ma-page-de-traitement" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Libellé chapitre :</label>
                <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Libellé chapitre">
            </div>

           <div class="form-group">
                <label for="exampleFormControlTextarea1">Description :</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Veuillez décrire ce chapitre"></textarea>
           </div>

            <label>Section</label>
            <div class="row">

                <div class="col col-lg-2">
                    <input id="addInput" type="button" value="Ajouter une section"  class="btn btn-primary">
                </div>
                <div class="col col-lg-5" >
                    <ul class="list-group" id="mots-clefs">
                      <li class="list-group-item"><input type="text" name="fpsaisiedescripteur-1"/></li>

                    </ul>

                </div>
            </div>

            <div class="button">
                <input type="submit" value="Creer">
            </div>
        </form>
    </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
        $('#addInput').click(function()
        {
            document.getElementById('mots-clefs').innerHTML += '<li class="list-group-item"><input type="text" name="fpsaisiedescripteur-1"/></li>';
        });
    });
</script>    

</form>

</body>
</html>